# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/
bin/
.vs/
packages/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib 

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
*.vscode

# working directory
working/

# Visual SlickEdit projct files
*.vtg
*.vpj
*.vpw
*.vpwhist
